{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col"><h2 class="text-center my-3">Форма входа</h2></div>
    </div>
    <div class="row mx-auto">
        <div class="col-md-8 mx-auto">
            <h4 class="text-center my-2">Для просмотра доступных вакансий, заполните форму</h4>
            <form method="POST" action=""> {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>
{% endblock content %} }